#element {
            position: relative;
            top: 15%;
            transform: translateY(-10%);
            
            left: 15%;
            transform: translateX(-19%);
        }
        body {
            height: 500px;
			background-image:url(../images/background.jpg); /*You will specify your image path here.*/
			background-size: cover;
			background-position: top center !important;
			background-repeat: no-repeat !important;
			background-attachment: fixed;
        }
        div {
            /*width: 50%;*/
        	font-family:"Agency FB", cursive;
		}
		span { font-size:50px;}

		td{   
			font-size: 24px;			
    		vertical-align: bottom;
		}
		.exit {			   
    		position: fixed;
    		top: 5px;
    		right: 15px;
		}
		.undo {
    		/*position: fixed;
    		bottom: 5px;
    		right: 50%;
			left: 50%;*/
			position: fixed;
    		bottom: 5px;
    		right: 15px;
		}